body {
    text-align: center;
    background-color: aquamarine;
}

.header_div {
    background-color:rgb(179, 255, 229);
    color:Black;
    font-family: sans-serif;
}

.header_div h3 {
    font-size: 15px;
    font-family:Arial;
    color:red;
    font-weight: bold;
    letter-spacing:3px;
}

.main_div button {
    font-family: monospace;
    font-weight: bold;
    color:white;
    margin-top: 20px;
}

.copy_right_footer {
    position:fixed;
    color:rgb(24, 24, 24);
    bottom:0px;
    width: 100%;
    background-color: rgb(175, 146, 255);
    line-height:3;
    text-shadow: 5px 5px 5px rgb(58, 58, 58);
    font-size:20px;
    font-weight:bold;

}


